[alias]
    ap = add --patch
    c = commit -v
    ca = commit --amend -v
    co = checkout
    d = diff --patch-with-stat
    l = log --stat --max-count=200
	prune-branches = !git remote prune origin && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d
    s = status
[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix
[merge]
   tool = vimdiff
[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[mergetool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[user]
    name = Sebastian Zaha
    email = sebastian.zaha@gmail.com
[core]
    editor = nvim
    autocrlf = input
[color]
    diff = auto
    status = auto
    branch = auto
[branch "master"]
    remote = origin
    merge = refs/heads/master
[branch "main"]
    remote = origin
    merge = refs/heads/main
[push]
    default = simple
	autoSetupRemote = true
[init]
    defaultBranch = main
[sendemail]
    smtpserver = smtp.gmail.com
    smtpuser = sebastian.zaha@gmail.com
    smtpencryption = tls
    smtpserverport = 587
[diff]
	algorithm = patience
[pull]
	rebase = true
